<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="testngUI">
  <test  name="Functional">
    <classes>
      <class name="testng.Login"/>
      <class name="testng.TestSuitCommand"/>
      <class name="testng.TestGroup"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
